@import 'typographic'
normalize-css()
typographic()

grid-overlay(blue, 2)

.container
    h1
        color: blue

.navButton
    button()

.navItem
    background-color: #0000FF
    color: white
    text-align: center

    a
        color: white
        text-decoration: none
