doctype html
html
    head
        title Boilerplate Project

        link(type="text/css" rel="stylesheet" href="jsx/app.css")
        link(type="text/css" rel="stylesheet" href="jsx/legacy.css")

    body
        .container

        script(type="text/javascript" src="jsx/main.js")
