@import 'typographic'
@lost flexbox flex
typographic()
normalize-css()
border-box-html()
grid-overlay(blue, 2)

h1
    font-size: responsive 14px 32px
h2
    font-size: responsive 14px 30px
h3
    font-size: responsive 14px 28px
h4
    font-size: responsive 14px 26px
h5
    font-size: responsive 14px 24px
p, a, strong
    font-size: responsive 14px 20px

html, body
    height: 100%

body
    lost-utility: edit

.container
    height: 100vh
    lost-center: 100%

    h1
        color: red
